<html>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <h3 style="padding-left:30px ;">Checkout</h3>

        <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>

            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="row no-gutters">
              <div class="col-md-2" style="padding: 10px;">
                <img src="one.jpg"  class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body" style="justify-content:center;">
                  <h5 class="card-title">50$</h5>

                </div>
              </div>
            </div>
          </div>

<div style="text-align:center;">
          <input class="btn btn-primary" type="submit" value="Checkout"></div>
        
    </body>
        </html>