<html>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <h3 style="padding-left:30px ;">Details</h3>

        <div class="card mb-3" style="height:500px">
            <div class="row no-gutters">
              <div style="background-color:rgb(200, 191, 255);" class="col-md-5" >
                
              </div>
              <div class="col-md-7" style="background-color:rgb(228, 200, 255);">
                <div class="card-body">
                  <h5>Service Title</h5><p></p>
                  <div>
                      <div class="row">
                  <div class="col-md-6"><div>
          <input class="btn btn-primary" style="background-color:lightgreen" type="submit" value="Version-1"></div></div>
                  <div class="col-md-6"><div>
          <input class="btn btn-primary" type="submit" value="Version-2"></div></div></div></div><p></p>
          <div class="row" style="height:300px">
         <p class="card-text" style="padding-left:15px ;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text" style="padding-left:15px ;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  
                </div>
                <div class="row" style="padding-left:15px ;">50$</div><p></p>
                <div class="row"><div class="col-md-6"><div>
          <input class="btn btn-primary" type="submit" value="Add to Cart" style="padding-left:15px;background-color:lightgreen ;"></div></div>
                  <div class="col-md-6"><div>
          <input class="btn btn-primary" type="submit" value="Buy Now" style="padding-left:15px ;"></div></div></div></div></div>
                </div>
              </div>
             

            </div>
          </div>



        
    </body>
        </html>