@model Nova_Land.Models.Payment
<h4 class="mb-3">Payment</h4>
@using (Html.BeginForm("PaymentComplete", "Home", FormMethod.Post))
{
    <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Credit Card Holder Full Name</label>
             <input asp-for="CreditCardHolderName" class="form-control">
             <span asp-validation-for="CreditCardHolderName" class="text-danger"></span>
          </div>
       </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">Street Address</label>
            <input asp-for="St_Address" class="form-control" required>
              <span asp-validation-for="St_Address" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">City</label>
            <input asp-for="City" class="form-control" required>
              <span asp-validation-for="City" class="text-danger"></span>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">State</label>
            <input asp-for="State" class="form-control" required>
              <span asp-validation-for="State" class="text-danger"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">Country</label>
            <input asp-for="Country" class="form-control" required>
              <span asp-validation-for="Country" class="text-danger"></span>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">Zip Code</label>
            <input asp-for="Zip" class="form-control" required>
              <span asp-validation-for="Zip" class="text-danger"></span>
          </div>
        </div>
       <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="Master" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="Master">Master</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="Visa" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="Visa">Visa</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="AmericanExpress" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="AmericanExpress">American Express</label>
          </div>
       </div>   
       <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Credit Card Number</label>
             <input asp-for="Number" class="form-control" required>
                <span asp-validation-for="Number" class="text-danger"></span>
          </div>
       </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiry Date(MM/YYYY)</label>
             <input asp-for="Exp_dt" class="form-control" required>
                <span asp-validation-for="Exp_dt" class="text-danger"></span>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input asp-for="cvv" class="form-control" required>
              <span asp-validation-for="cvv" class="text-danger"></span>
          </div>
        </div>
        <hr class="mb-4">
        <div style="text-align:center;"><button class="btn btn-primary btn-lg" type="submit">Make Payment</button></div>
}